altgraph==0.17.5
et_xmlfile==2.0.0
macholib==1.16.4
numpy==2.4.6
openpyxl==3.1.5
packaging==26.2
pandas==2.3.3
pyinstaller==6.20.0
pyinstaller-hooks-contrib==2026.5
python-dateutil==2.9.0.post0
pytz==2026.2
setuptools==82.0.1
six==1.17.0
tzdata==2026.2
xlrd==2.0.2
